@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.below_title {
  display: flex;
}

.coin_title {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  margin-top: 40px;
}
.top_label {
  display: flex;
  justify-content: space-between;

  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid black;
}

.coin_table {
  display: flex;
  justify-content: space-between;
}

.api_table {
  width: 70%;
  margin-left: 20px;
}
.label1,
.label2,
.label3,
.label4 {
  width: 24%;
}

.label5 {
  width: 6%;
  text-align: center;
}

.coin_name,
.coin_symbol,
.coin_price,
.coin_volume {
  width: 24%;
  margin-bottom: 20px;
  border-bottom: solid 1px black;
}

.coin_ath {
  width: 6%;
  margin-bottom: 20px;
  border-bottom: solid 1px black;
}
.coin_list {
  list-style: none;
  height: 35px;
}

.coin_ath {
  width: 50px;
}

.coin_trans {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  align-items: center;
  margin-left: 80px;
}

.cointrans_title {
  font-size: 30px;
  font-weight: 600;
}

.coin_trans select {
  padding: 10px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

optgroup {
  font-size: 30px;
}

.coin_trans input {
  font-size: 20px;
  margin-bottom: 20px;
  padding: 8px;
  width: 80%;
}

.coin_trans button {
  background-color: white;
  padding: 10px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  width: 50%;
}
